div.condo-uploads-wrapper {
	position: relative;
	width: 100%;
  margin-bottom: 40px;
}


div.condo-uploads-wrapper > div {
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*
 * 
 * Drag and drop indicator styles
 * 
 */
div.condo-drop-indicator {
	padding: 15px;
  color: #aaa;
	border: 1px dashed #aaa;
  border-radius: 5px;
  height: 75px;
}

div.condo-file-selection > form > input {
  display: none;
}
