div.condo-uploads-wrapper {
	position: relative;
	width: 100%;
  margin-bottom: 40px;
}


div.condo-uploads-wrapper > div {
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*
 * 
 * Drag and drop indicator styles
 * 
 */
div.condo-drop-indicator {
	padding: 15px;
  color: #aaa;
	border: 1px dashed #aaa;
  border-radius: 5px;
  height: 50px;
}

div.condo-file-selection > form > label {
  margin-right: 10px;
}

div.condo-file-selection > form > input {
  display: none;
}

table.condo-uploads {
  margin: 0 20px;
}

tr.condo-upload > td.progressbar {
  width: 300px;
}

tr.condo-upload > td.name {
	text-align: left;
  width: 300px;	
	white-space: nowrap;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

tr.condo-upload > td.size {
  width: 100px; 
}

tr.condo-upload > td.controls {
  width: 20px; 
}

div.progress { width: 300px; }

tr.condo-upload > td.remove {
  width: 20px; 
}
