<div class="condo-uploads-wrapper" data-co-uploads>
	<div class="condo-drop-indicator">Drag files into this box</div>

	<div class="condo-uploads-container">
    <table class="table condo-uploads"> <!-- NOTE:: Controller Name: UploadsCtrl -->
      <tr class="condo-upload" co-upload data-ng-repeat="upload in uploads">
        <td class="name"><i class="icon-file"></i>{{upload.path}}{{upload.name}}</td>
        <td class="size">{{size}}</td>
        <td><i class="controls" ng-class="{'icon-paused':paused, 'icon-play':!paused}" co-tap="playpause(upload)"></i></td>
        <td class="progressbar">
          <div class="progress"> 
            <div class="bar" style="width: {{progress}}%;"></div>
          </div>
        </td>
        <td co-tap="animate_remove(upload, 900)"><i class="icon-remove"></i></td>
      </tr>
    </table>
	</div>
	<div class="condo-file-selection">
    <form>
      <label for="file-upload_{{$id}}" class="btn btn-inverse pull-left">Add Files </label>
	    <input id="file-upload_{{$id}}" type="file" multiple />
    </form>
    <div class="btn-group dropup">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Options <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><label class="checkbox"><input data-ng-model="autostart" type="checkbox"> Autostart</label></li>
        <li><label class="checkbox"><input data-ng-model="ignore_errors" type="checkbox"> Ignore Errors</label></li>
        <li><label class="checkbox"><input data-ng-model="remove_completed" type="checkbox"> Remove Completed</label></li>
        <li><label for="parallelism_{{$id}}">Simultaneous<input data-ng-model="parallelism" id="parallelism_{{$id}}" type="number" step="1" min="1" max="5" /></label></li>
      </ul>
    </div>
	</div>
</div>
